



@page
@model inventario_libreria.Views.Home.acercaDeModel
@{
}


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="divFactura">
    <h2>Creado por:</h2>
</div>

<section class="targetasAcercaDe">

    <div class="tarjetaAcercaDe">
        <div class="divImg">
            <img class="imgPerfil" src="../assets/andrey.jpeg" alt="andrey_img" />
        </div>

        <div class="infoContacto">
            <p>Andrey Villalobos Navarro</p>
            <p>Contacto: andrey.villalobos.navarro@cuc.cr </p>
        </div>
    </div>

    <div class="tarjetaAcercaDe">
        <div class="divImg" >
            <img class="imgPerfil" src="../assets/kisha.jpeg" alt="kisha_img" />
        </div>
     
        <div class="infoContacto">
            <p>Kisha Tamara Zamora Gónzalez</p>
            <p>Contacto: 305590836@cuc.cr </p>
        </div>
    </div>

    <div class="tarjetaAcercaDe">
        <div class="divImg">
            <img class="imgPerfil" src="../assets/perfil.jpg" alt="royner_img" />
        </div>

        <div class="infoContacto">
            <p>Royner David Pérez Rodríguez</p>
            <p>Contacto: 305600574@cuc.cr </p>
        </div>
    </div>





</section>