@page
@model inventario_libreria.Views.Home.registroEmpleadoModel
@{
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="divFactura">
    <h2>Edición de empleados: </h2>

    <label class="buscar" for="nombre">Nombre del empleado</label>
    <input class="inputNombre buscar" id="nombre" type="text">

    <label class="buscar" for="cedula">Cédula</label>
    <input class="inputAutor buscar" id="cedula" type="text">

    <label class="buscar" for="Correo">Correo</label>
    <input class="inputAutor buscar" id="Correo" type="text">

    <button class="botonBuscar buscar" id=""></button>
</div>

<section class="sectionFactura sectionFacturaProveedor">

    <form action="/" method="post" class="formFactura">
        <div class="factura facturaProveedor">
            <div class="inputsFactura">
                <label for="nombre">Nombre: </label>
                <input type="text" id="nombre" value="" />

                <label for="pApellido">P. Apellido: </label>
                <input type="text" id="pApellido" value="" />

                <label for="sApellido">S. Apellido: </label>
                <input type="text" id="sApellido" value="" />

                <label for="cedula">Cédula: </label>
                <input type="text" id="cedula" value="" />

                <label for="correo">Correo: </label>
                <input type="text" id="correo" value="" />

                <label  for="origen">Tipo</label>
                <select class="inputCategoria buscar" type="select" id="origen" placeholder="bb">
                    <option value=""></option>
                    <option value="">Empleado</option>
                    <option value="">Admin</option>
                </select>

                <a class="facturarGuardar" value="Agregar">Guardar</a>
                <a class="facturarGuardar" value="Agregar">Agregar</a>
                <a class="facturarGuardar" value="Agregar">Eliminar</a>
            </div>

            <div class="divTabla divTablaAgregar">
                <div>
                    <img class="imgLibro" src="../assets/libro.PNG" alt="">
                    <img class="imgNombre" src="../assets/nombre.png" alt="">
                </div>

                <table class="tablaFactura">
                    <thead class="cabezaTablaFactura">
                        <tr>
                            <th>Nombre</th>
                            <th>P Apellido</th>
                            <th>S Apellido</th>
                            <th>Cédula</th>
                            <th>Correo</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                        </tr>

                        <tr>
                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                        </tr>

                        <tr>

                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                        </tr>
                        <tr>
                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                            <th>aaa</th>
                        </tr>
                    </tbody>
                </table>
            </div>



        </div>




    </form>
</section>